Win/Connected Services/WCFService/Modelo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Modelo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vwvheappd013.pemex.pmx.com/Modelo/Modelo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vwvheappd013.pemex.pmx.com/Modelo/Modelo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vwvheappd013.pemex.pmx.com/Modelo/Modelo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModelo_Monitor_InputMessage">
    <wsdl:part name="parameters" element="tns:Monitor" />
  </wsdl:message>
  <wsdl:message name="IModelo_Monitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorResponse" />
  </wsdl:message>
  <wsdl:message name="IModelo_Program_InputMessage">
    <wsdl:part name="parameters" element="tns:Program" />
  </wsdl:message>
  <wsdl:message name="IModelo_Program_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IModelo_Reset_InputMessage">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="IModelo_Reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:message name="IModelo_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IModelo_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IModelo_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IModelo_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IModelo_SensGas_InputMessage">
    <wsdl:part name="parameters" element="tns:SensGas" />
  </wsdl:message>
  <wsdl:message name="IModelo_SensGas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SensGasResponse" />
  </wsdl:message>
  <wsdl:portType name="IModelo">
    <wsdl:operation name="Monitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelo/Monitor" message="tns:IModelo_Monitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelo/MonitorResponse" message="tns:IModelo_Monitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Program">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelo/Program" message="tns:IModelo_Program_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelo/ProgramResponse" message="tns:IModelo_Program_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelo/Reset" message="tns:IModelo_Reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelo/ResetResponse" message="tns:IModelo_Reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelo/Delete" message="tns:IModelo_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelo/DeleteResponse" message="tns:IModelo_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelo/Execute" message="tns:IModelo_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelo/ExecuteResponse" message="tns:IModelo_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SensGas">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelo/SensGas" message="tns:IModelo_SensGas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelo/SensGasResponse" message="tns:IModelo_SensGas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IModelo" type="tns:IModelo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Monitor">
      <soap:operation soapAction="http://tempuri.org/IModelo/Monitor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Program">
      <soap:operation soapAction="http://tempuri.org/IModelo/Program" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap:operation soapAction="http://tempuri.org/IModelo/Reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IModelo/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/IModelo/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SensGas">
      <soap:operation soapAction="http://tempuri.org/IModelo/SensGas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Modelo">
    <wsdl:port name="BasicHttpBinding_IModelo" binding="tns:BasicHttpBinding_IModelo">
      <soap:address location="http://vwvheappd013.pemex.pmx.com/Modelo/Modelo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>